<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/inicio">Entrevistas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link"routerLink="/registroCandidato">Registrar Candidato</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/listaCandidatos">Lista Candidatos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="/registroPuesto">Crear Puesto</a>
  </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/registroEntrevista">Crear Entrevista</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="/listaEntrevistas">ListaEntrevistas</a>
  </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>